<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha384-qpH/xBRD/B9C1V+Jlq/3Jk6BcRXJy0H5wLBd8cYYLh55II1Hifp6DQ6L7KjqMf7z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-k6RqeDHDjFjhLjVkeE4e3rU2CvYRf7AMr9kpvI/62HYlqvoHsJ2r6olF5UK3dsam" crossorigin="anonymous">

  <style>
    .icon-bar {
      position: fixed;
      top: 50%;
      left: 5px; /* Adjust the left distance as needed */
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    } 
  
    .icon-bar a {
      display: block;
      padding: 18px;
      color: #448edd;
      border-radius: 100px;
    }
  
    .whatsapp {
      background: #53d365;
      color: #448edd;
    }
  </style>
  <title>{% block title %}{% endblock title %} TVA</title>

</head>

<body>

  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Two small photos on the left -->
    <a class="navbar-brand" href="https://amritmahotsav.nic.in" style="color: #007bff;">
      <img src="/static/assets/img/amrit.jpg" alt="Logo 1" width="30" height="30" class="d-inline-block align-top">

      <h2 class="d-inline-block ml-2">TECH-VERSE ACADEMY</h2>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/" style="color: #007bff;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/" style="color: #007bff;">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" style="color: #007bff;">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/" style="color: #007bff;">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  {% if messages%}

      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} primary d-flex align-items-center my-0" role="alert">
        {% comment %} <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg> {% endcomment %}
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}

  {% block body %}{% endblock body %}

  <!-- Footer Section -->
  <section>

    <footer class="bg-light text-dark py-4">
      <div class="container-fluid">
        <div class="row">
          <!-- Contact Details -->
          <div class="col-md-6">
            <h4>Contact Us</h4>
            <strong>Phone:</strong><a href="tel:+91 6009625817">+91 6009625817</a>
            <strong>&nbsp Email:</strong> <a href="mailto:techverseacademy@gmail.com"> techverseacademy@gmail.com </a><br>
            <strong>Address:</strong> Nagerjala, Agartala 799003 Tripura, India</p>
          </div>
          <!-- Useful Links -->
          <div class="col-md-6">
            <h4>Useful Links</h4>
            <ul class="list-unstyled">
              <p><a href="#" style="color: #007bff;">Privacy Policy | </a>
                <a href="#" style="color: #007bff;">Terms of Service | </a>
                <a href="#" style="color: #007bff;">FAQs | </a></li>
                <a href="#" style="color: #007bff;">Support | </a></p>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="text-center">
          <p>&copy; 2023 Tech-Verse Academy. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </section>

  <!-- WhatsApp Icon -->
  {% comment %} <a href= id="whatsapp-icon">
    <i class="fab fa-whatsapp"></i>
  </a> {% endcomment %}
  <div>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="icon-bar">
  <a href="https://wa.me/6009625817" target="_blank" class="whatsapp"><i class="fa fa-whatsapp"></i></a> 
</div>
</div>

  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>

</html>
